.custom-header{
	background-color: #4bf5c6;
}
.body_header{
	margin-top: 50px;
	height: 75px;
	background-color: #ffffff;
}
.position_menu{
	padding-left: 45px;
}
.position_body_nav{
    padding-top: 20px;
}
.slider-innerText{
	width: 100%;
    margin-left: 75px;
    padding: 17px 20px 22px 17px;
    color: white;
}
.slider-text{
    position: absolute;
    top: 50%;
    left: 7%;
    z-index: 3;
    transform: translateY(-50%);
}
.arrow_background{
	background-color: blue;
}
.image_size{
	width: 100%;
}
.dress_text{
    padding-left: 44%;
    padding-top: 3%;
}
.set_position_content{
	padding-left: 13%;
    padding-right: 13%;
    padding-top: 7%;
    padding-bottom: 4%;
}
.set_content_header_position{
	padding-top: 17%;
}
.set_content_description_position{
	padding-top: 15px;
}
.image_service_size{
    width: 20%;
}
.image { position:relative; display:inline-block;padding-left: 1%;}
.overlay { display:none;}
.image:hover .overlay { width:100%; height:100%; background:rgba(0,0,0,.5); position:absolute; top:0; left:0; display:inline-
block; }

.custom_product{
	background-color: lightblue;
}
.product_header{
	padding-top: 5%;
}
.set_position_product{
	padding-left: 13%;
    padding-right: 13%;
    padding-top: 3%;
    padding-bottom: 4%;
}
.product_details{
	width: 100%;
	font-family: sans-serif;
}
.product-text{
	width:  85%;
	float: left;
	background-color: black;
	color: white;
	height: 40px;

}
.product_price{
	width: 15%;
	float: right;
	background-color: grey;
	color: white;
	height: 40px;
}
.product-text p{
	text-align: left;
	padding-top: 10px;
	font-size: 15px;
	padding-left: 10px;
	font-family: inherit;
}
.product_price p{
	padding-top: 10px;
	font-size: 15px;

}
.centered {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:88%;
}
.collection_on_hover{

}
.custom_heart{
	padding-left: 5px;
    font-size: 30px;
    border: solid 1px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}
.custom_random{
	padding-left: 5px;
    font-size: 30px;
    border: solid 1px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;

}
.custom_time{
	padding-left: 5px;
    font-size: 30px;
    border: solid 1px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;

}
.display_on_hover_position{
	position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:88%;
    display: none;
}
.on_hover_add_to_cart{
	    background-color: black;
    height: 30px;
    width: 140px;
    margin-left: 40px;
    margin-top: 5px;
    padding-top: 5px;
    color: white;
}

.product_addtocart_display:hover .display_on_hover_position {
		display: block;
		color: black;
	}
.header_line1{
	width: 10%;
    text-align: center;
    border-top: 3px solid;
    color: green;

}.header_line2{
	width: 10%;
    text-align: center;
    border-top: 3px solid;
    color: green;
    margin-top: -11px;
}
.product_new_button{
	position: absolute;
	top: 8px;
    left: 25px;
}
.product_sale_button{
	position: absolute;
    top: 8px;
    right: 25px;
}
}
.new_product{
	position: relative;
}
.sale_product{
	position: relative;

}
.product_centered{
	position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:85%;
}
.set_position_festure_product{
	padding-left: 13%;
    padding-right: 13%;
    padding-top: 3%;
}
.second_set_position_festure_product{
	padding-left: 13%;
    padding-right: 13%;
    padding-top: 1%;
    padding-bottom: 4%;	
}
.feature_product_image_set{
	border: none;
}
.parallax-image {
width: 100%;
/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.5);
}
.parallax-image-text { /* Fallback color */ /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 80px;
  position: fixed;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 2;
/*  width: 300px;
*/  padding: 20px;
  text-align: center;
}
/*.newsletter_image_size{
	width: 100%
}*/